@charset "UTF-8";
.body {
  font-family: Helvetica;
  color: #ffffff;
  display: grid;
  grid-template-columns: 100% px;
  grid-template-rows: 100%;
  margin: 0px;
  border: red 1px dotted;
}

.firstgrid {
  width: 100%;
  top: 0%;
  margin: 0%;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 100%;
  margin: 0px;
  border: blue 1px dotted;
}

.sidebar {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
  padding-top: 30px;
  padding-bottom: 40px;
  padding-right: 0px;
  margin-right: 0px;
  color: #ffffff;
}

.mainnav {
  display: flex;
  flex-direction: column;
  width: auto;
}

.spotify {
  height: 50px;
  width: 170px;
  margin-bottom: 20px;
}

ul {
  padding-left: 2px;
}

.navtext:hover {
  opacity: 1;
}

.navtext {
  color: #ffffff;
  opacity: 0.5;
  text-decoration: none;
  width: 200px;
  height: 20px;
}

li {
  padding-bottom: 2px;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-right: 0;
  list-style: none;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.8px;
  width: 200px;
  border-radius: 10px;
  text-align: none;
}

.navlogo {
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 5px;
  height: 30px;
  width: 30px;
}

.bottom-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navtext-bottom {
  font-size: 12px;
  letter-spacing: 1.5px;
  padding-bottom: 12px;
  color: #ffffff;
  opacity: 0.5;
  text-decoration: none;
  text-align: center;
}

.navtext-bottom:hover {
  text-decoration: underline;
  width: 60px;
}

.miniborder {
  width: 20px;
  border-bottom: #ffffff 1px solid;
  opacity: 0.5;
  margin-bottom: 15px;
}

.maincontent {
  background-color: #1d1c1c;
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
}

.header {
  display: flex;
  justify-content: space-around;
  flex-wrap: #1d1c1c;
  position: fixed;
  top: 0%;
  width: 800px;
  background-color: black;
  padding: 20px;
  overflow: hidden;
}

.search {
  box-sizing: border-box;
  border-radius: 30px;
  line-height: 16px;
  font-size: 8px;
  min-width: 230px;
  min-height: 30px;
  padding-left: 30px;
  padding-right: 5px;
  border: none;
  letter-spacing: 1px;
  color: #5c5b5b;
}

input::placeholder {
  box-sizing: border-box;
  color: #5c5b5b;
  letter-spacing: 1px;
}

.search-black {
  position: fixed;
  top: 26px;
  left: 237px;
  width: 17px;
  height: 17px;
}

.button {
  box-sizing: border-box;
  border-radius: 30px;
  line-height: 16px;
  font-size: 10px;
  letter-spacing: 2px;
  border: none;
  width: 110px;
}

.button--black {
  background-color: black;
  color: white;
}
.button--white {
  color: black;
  background-color: white;
}

.gridcard {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 200px);
  grid-gap: 20px;
  padding-left: 5px;
  background-color: yellow;
}

h1 {
  background-color: #1d1c1c;
  grid-area: 1/1/2/6;
}

.card {
  border-radius: 30px;
  padding-left: 40px;
}

.card--podcast {
  grid-area: 2/1/3/2;
  background-color: #a2a2e6;
}

.card--skapat {
  grid-area: 2/2/3/3;
  background-color: #7ddac4;
}

.card--topplista {
  grid-area: 2/3/3/4;
  background-color: #e0bb93;
}

.card--nya {
  grid-area: 2/4/3/5;
  background-color: #bce093;
}

.card--upptäck {
  grid-area: 2/5/3/6;
  background-color: #e093df;
}

.card--pop {
  grid-area: 3/1/4/2;
  background-color: #ece8a8;
}

.card--hiphop {
  grid-area: 3/2/4/3;
  background-color: #7d9cda;
}

.card--humör {
  grid-area: 3/3/4/4;
  background-color: #98cb93;
}

.card--amplify {
  grid-area: 3/4/4/5;
  background-color: #b19387;
}

.card--chill {
  grid-area: 3/5/4/6;
  background-color: #f0d0ef;
}

.card--party {
  grid-area: 4/1/5/2;
  background-color: #a195ac;
}

.card--indie {
  grid-area: 4/2/5/3;
  background-color: #ae8288;
}

.card--black {
  grid-area: 4/3/5/4;
  background-color: #93c1cb;
}

.card--träning {
  grid-area: 4/4/5/5;
  background-color: #f0e6b0;
}

.card--dance {
  grid-area: 4/5/5/6;
  background-color: #649b67;
}

.card--rnb {
  grid-area: 5/1/6/2;
  background-color: #943be7;
}

.card--rock {
  grid-area: 5/2/6/3;
  background-color: #558ca4;
}

.card--wellness {
  grid-area: 5/3/6/4;
  background-color: #b37254;
}

.card--barn {
  grid-area: 5/4/6/5;
  background-color: #f062b5;
}

.card--metal {
  grid-area: 5/5/6/6;
  background-color: #5a70df;
}

footer {
  background-color: khaki;
  position: fixed;
  height: 130px;
  width: 100%;
  bottom: 0%;
}

/*# sourceMappingURL=index.css.map */
